mixin filter-status(filterStatus)
  each item in filterStatus
    button(class=`btn btn-sm ml-1 btn-outline-success ${item.class}` button-status=item.status) #{item.name}
    //- button(class="btn btn-sm ml-1 btn-outline-success active" button-status="") Tất cả
    //- button(class="btn btn-sm ml-1 btn-outline-success" button-status="active") Hoạt động
    //- button(class="btn btn-sm ml-1 btn-outline-success" button-status="inactive") Dừng hoạt động